<div class="sliderArea">
  <div class="full-screen-o slider">
    <% @posts.each do |post| %>
      <div>
        <div class="image"><%= link_to image_tag(post.images[0].to_s), post_path(post.id) %></div>
        <p>メインタイトル：<%= link_to post.main_title, post_path(post.id) %></p>
        <% if post.date %>
          <p>行った日：<%= post.date.strftime('%Y年%m月%d日') %></p>
        <% end %>
        <p>投稿者：<%= link_to post.user.name, user_path(post.user) %>さん</p>
        <div id="like_buttons_<%= post.id %>">
          <%= render "likes/index_like", post: post %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="post-area">
  <h1 class="post-area-title">～新着投稿一覧～</h1>
  <% @posts.each do |post| %>
    <div class="post-box">
      <div class="image"><%= link_to image_tag(post.images[0].to_s, size: '300x200'), post_path(post.id) %></div>
        <p>メインタイトル：<%= link_to post.main_title, post_path(post.id) %></p>
        <% if post.date %>
          <p>行った日：<%= post.date.strftime('%Y年%m月%d日') %></p>
        <% end %>
        <p>投稿者：<%= link_to post.user.name, user_path(post.user) %>さん</p>
        <div id="like_buttons_<%= post.id %>">
          <%= render "likes/index_like", post: post %>
        </div>
    </div>
  <% end %>
</div>